:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #E8F5E9;

  display: flex;
  justify-content: center;
  align-items: center;
}